{% extends 'base.html' %}
{% block content %}

<!-- Content -->
<h1>About</h1>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <p>The “Online Marketing - Issue Tracker” is an online tool with which owners of small and medium sized businesses can post/upvote bugs and feature requests regarding the products and services that are offered on MarketingMan.ie.</p>
        <h2>Purpose of the Page</h2>
        <p>The purpose of the Online Marketing Issue Tracker is to allow users to have a say in what products and bugs are tended to in terms of the products that offered on MarketingMan.ie. This is done via a voting system where bugs can be uptoved for free and feature requests at cost of 10$. The page is for any individual or company worldwide who has an interest in the products on MarketingMan.ie and would would like to influence the course of development. The Online Marketing Issue Tracker is the best way to influence the course of development at MarketingMan.ie because it gives a quick and comprehensive overview of bugs and featuer requests that have already been posted as well as allowing users to create topics of their own. Via the integrated voting system, users then have a quick and efficient way of having their say as to what bugs and features are tended to. </p>
        <h2>Features</h2>
        <p>
            <ul>
                <li>User registration and authentication</li>
                <li>Posting and editing of bugs and feature requests/li>
                <li>Listing of all bugs and feature requests</li>
                <li>Filtering of results by category</li>
                <li>Upvoting of bugs and feature requests to increase urgency</li>
                <li>Commenting on bugs and feature requests</li>
                <li>Summary graphs showing how many feature requests and bugs are tended to on a daily, weekly and monthly basis</li>
            </ul>
        </p>
    </div>
</div>
<!-- /.Content -->

{% endblock %}