{% extends 'base.html' %} 
{% load comments %} 
{% block content %}

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <!-- Messages -->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- /.Messages -->
        
        <!-- Filtering Buttons -->
        <p>
            <a href="{% url 'get_all' %}" class="btn btn-secondary">All</a>
            <a href="{% url 'get_features' %}" class="btn btn-secondary">Feature Requests</a>
            <a href="{% url 'get_bugs' %}" class="btn btn-secondary active">Bugs</a>
        </p>
        <!-- /.Filtering Buttons -->

        <hr>

        <!-- Bugs -->
        {% for post in posts %}
        <div class="card border-primary mb-3" style="max-width: 33rem;">
            <div class="card-header">{{ post.type }} ({{ post.status }})</div>
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                <p>
                    <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">Read more</a> {% if user.is_authenticated %}
                    <a href="upvote/{{ post.id }}/" class="btn btn-secondary">+</a> {% endif %} Up: {{ post.upvotes}}
                </p>
            </div>
        </div>
        {% endfor %}
        <!-- /. Bugs -->
        <hr>
    </div>

    {% if user.is_authenticated %}
    <div class="col-lg-4 col-sm-12">
        <form>
            <button class="btn btn-secondary btn-fix" formaction="{% url 'new_post' %}" type="submit" name="action"><b>+Add Bug!</b></button>
        </form>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <!-- Pagination -->
        <div class="pagination">
            <span class="step-links">
            {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span> 
            {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a> 
            {% endif %}
        </span>
        </div>
        <!-- /.Pagination -->
    </div>
</div>

{% endblock %}
